<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.MessageMapper">

	<insert id="insertMsg" parameterType="com.smhrd.model.Message">
		insert into web_message(num, sendName, receiveEmail, message, m_date)
			values(
			num_message.nextval,
			#{sendName},
			#{receiveEmail},
			#{message},
			sysdate
			)
	
	</insert>
	
	<select id="showMessage" parameterType="string" resultType="com.smhrd.model.Message">
		select * from web_message where receiveEmail=#{email}
	
	</select>
	
	<delete id="delete" parameterType="string">
		delete from web_message where num=#{num}	
	
	</delete>


</mapper>