<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Redirect_uri</servlet-name>
  	<display-name>Redirect_uri</display-name>
  	<description></description>
  	<servlet-class>kakao_login.Redirect_uri</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
  	<servlet-name>Redirect_uri</servlet-name>
  	<url-pattern>/Redirect_uri</url-pattern>
  </servlet-mapping>
</web-app>
